import os
import pyrefinebio
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
os.mkdir("data", mode = 0o777)

In [3]:
pyrefinebio.create_token(agree_to_terms=True, save_token=False)

pyrefinebio.download_dataset(
    "data/dataset.zip",
    "cansav09@gmail.com",
    experiments=["SRP070849"],
    extract=True
)

Creating Dataset...
Processing Dataset...
Downloading Dataset...
Extracting Dataset...

In [6]:
dataset = pd.read_csv('SRP070849/SRP070849.tsv', sep='\t')

In [8]:
dataset.head(5)

,Gene,SRR3189679,SRR3189680,SRR3189681,SRR3189682,SRR3189683,SRR3189684,SRR3189685,SRR3189686,SRR3189687,SRR3189688,SRR3189689,SRR3189690,SRR3189691,SRR3189692,SRR3189693,SRR3189694,SRR3189695,SRR3189696,SRR3189697
0,ENSMUSG00000000001,15.662377,14.020692,15.555238,12.530303,30.260702,21.886351,16.977010,15.910325,13.964012,20.334315,11.648719,15.173052,23.691737,25.125880,17.408528,19.021748,14.434416,17.999310,15.497156
1,ENSMUSG00000000003,0.028563,0.036579,0.419964,0.021979,0.075532,0.064158,0.054916,0.033680,0.046358,0.058368,0.033990,0.060480,0.125081,0.079634,0.050264,0.062190,0.046092,0.055518,0.083768
2,ENSMUSG00000000028,5.150481,7.498046,5.717152,5.034920,11.635079,12.077084,8.502686,7.605635,5.431773,7.401169,9.781360,9.532716,8.701792,7.958705,8.861361,8.829696,7.839187,8.560792,6.990834
3,ENSMUSG00000000031,0.923775,0.622761,0.037410,0.418679,0.075532,0.064158,1.384295,0.497883,0.046358,1.242944,0.511846,0.803937,2.510960,1.560483,1.424694,0.062190,0.754587,0.348850,0.083768
4,ENSMUSG00000000037,2.947676,3.047156,2.851992,3.006278,4.073379,3.221718,2.847645,2.720893,2.668958,3.995019,2.276475,3.380865,2.523756,3.932793,3.816612,3.075951,3.312766,2.887687,3.211649

In [9]:
gene = dataset["Gene"]

In [10]:
gene.head(5)

0    ENSMUSG00000000001
1    ENSMUSG00000000003
2    ENSMUSG00000000028
3    ENSMUSG00000000031
4    ENSMUSG00000000037
Name: Gene, dtype: object

In [14]:
dataset = dataset.drop('Gene', 1)

/tmp/ipykernel_88/821179272.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataset = dataset.drop('Gene', 1)

In [ ]:
sns.heatmap(dataset, yticklabels=gene)